# Interatomic Potential
if "${IntPotVar} == 1" then &
 "variable 		IntPot index 'NiS.eam.alloy'" &
 else &
 "variable 		IntPot index 'NiS.ff'"
 
variable 		a0 equal 3.52
variable 		ebulkatom equal -4.44999999950988 
 
# Lattice orientations
variable		gb1x1 equal 1
variable		gb1x2 equal -4
variable		gb1x3 equal 0
variable		gb1y1 equal 4
variable		gb1y2 equal 1
variable		gb1y3 equal 0
variable		gb1z1 equal 0
variable		gb1z2 equal 0
variable		gb1z3 equal 1
variable		gb2x1 equal -1
variable		gb2x2 equal 4
variable		gb2x3 equal 0
variable		gb2y1 equal 4
variable		gb2y2 equal 1
variable		gb2y3 equal 0
variable		gb2z1 equal 0
variable		gb2z2 equal 0
variable		gb2z3 equal -1

# Variables for S insertion
variable        deltamu equal 0.1 #eV
variable        sigma string 410
variable        GBRegion1 equal 53.1249
variable        GBHalfRegionUpper equal 110.23
variable 		GBHalfRegionLower equal -2.37
variable        slice equal 5.0 
variable        t equal 948
variable        seed equal 63241
#variable 		con equal 7.86 #S/nm^2
#variable        mu equal -0.4 #eV
#variable        bulkS equal -2.9371861774248611

# Find the repeating distances
variable 		square1 equal ${gb1x1}^2+${gb1x2}^2+${gb1x3}^2
variable 		square2 equal ${gb1y1}^2+${gb1y2}^2+${gb1y3}^2
variable 		square3 equal ${gb1z1}^2+${gb1z2}^2+${gb1z3}^2

variable repDistx equal 4.123105625617661
variable repDisty equal 4.123105625617661
variable repDistz equal 1.0

# 3 Layer Structure dimensions (Step1 & Step2)
variable		xlo3Layer equal -0.001
variable		xhi3Layer equal 1*${a0}*${repDistx}
variable		ylo3Layer equal -0.001
variable		yhi3Layer equal 6*${a0}*${repDisty}
variable		zlo3Layer equal -0.001
variable		zhi3Layer equal 1*${a0}*${repDistz}
variable        GB1 equal ${yhi3Layer}/4
variable        GB2 equal ${yhi3Layer}/4*3

# Iteration Numbers
variable		iter_x equal 10
variable		iter_y equal 10
variable		iter_z equal 10

variable		raster_x equal 10

# Box Dimensions for in.Structures and in.SGCMC
variable		xlo equal -0.001
variable		xhi equal 1*${a0}*${repDistx}
variable		ylo equal -0.001
variable		yhi equal 4*${a0}*${repDisty}
variable		zlo equal -0.001
variable		zhi equal 1*${a0}*${repDistz}
variable		GB1Str equal 2*${a0}*${repDisty}
variable		FS1Str equal 3*${a0}*${repDisty}
